
export default {
    discord : {
        token : "",
        maxHistory: 10,
        lang: "en"
    },
    ai : {
        aiForPrompt : "openAI", // openAI ou mistralAI
        prompt : "You are a nice assistant in a discord server",
    },
    openAI : {
        apiKey : "",
        model : "gpt-4o",
        summaryModel : "gpt-4o-mini",
        imageSize: "1024x1024",
    },
    mistralAI : {
        apiKey : "",
        model : "mistral-small-latest",
        summaryModel : "mistral-small-latest"
    },
    dune : {
        apiKey : ""
    },
    serp : {
        apiKey : "",
        lang : "",
        google_domain: ""
    },
    braveSearch : {
        apiKey : "",
        lang : ""
    },
    coin : {
        apiKey : "",
        defaultAsset : "USD"
    }
};