
export default {
    discord : {
        token : "XXXXX",
        maxHistory: 10,
        lang: "en"
    },
    openAI : {
        apiKey : "XXXXX",
        model : "gpt-4o",
        summaryModel : "gpt-4o-mini",
        prompt : "You are a nice assistant in a discord server",
        imageSize: "1024x1024",
    },
    dune : {
        apiKey : ""
    },
    serp : {
        apiKey : "",
        google_domain: ""
    },
    braveSearch : {
        apiKey : ""
    },
    coin : {
        apiKey : "",
        defaultAsset : "USD"
    },
    googleSearch : {
        apiKey: "",
        cx: "",
    }
};