
export default {
    discord : {
        token : "XXXXX",
        maxHistory: 20,
        lang: "en"
    },
    aiClient: 'openAI',
    openAI : {
        apiKey : "XXXXX",
        model : "gpt-4o",
        summaryModel : "gpt-4o-mini",
        imageSize: "1024x1024",
        maxTokens: 4000,
        temperature: 0.5
    },
    claude : {
        apiKey : "XXXXX",
        model : "claude-3-5-sonnet-20240620",
        summaryModel : "claude-3-haiku-20240307",
        prompt : "You are a nice assistant in a discord server",
        maxTokens: 2000,
        temperature: 0.5
    },
    dune : {
        active: false,
        apiKey : "",
        active: false
    },
    serp : {
        active: false,
        apiKey : "",
        google_domain: "",
        lang : "",
        active: false,
        gl: "us",
        hl: "en"
    },
    braveSearch : {
        apiKey : "",
        lang : "",
        active: false
    },
    coin : {
        active: false,
        apiKey : "",
        defaultAsset : "USD",
    },
    googleLighthouse : {
        active: false,
        apiKey : ""
    },
    fluxApi : {
        active: false,
        apiKey : ""
    },
    dallE: {
        apiKey: '',
        imageSize: '1024x1024',
        active: false
    },
    googleSearch : {
        active: false,
        apiKey: "",
        cx: "",
    },
    tmpFolder: {
        path: 'tmp'
  }
};