botname:
discord:
  token: 
  maxHistory: 20
  lang: 'en'
aiClient: 'openAI'
AIPrompt: 
triggerWords: []
openAI:
  apiKey: 
  model: 'gpt-4o'
  imageSize: '1024x1024'
  maxTokens: 4000
  temperature: 0.7
claude:
  apiKey: 
  model: 'claude-3-5-sonnet-20240620'
  maxTokens: 2000
  temperature: 0.6
dune:
  active: false
  apiKey: ''
serp:
  active: false
  apiKey: ''
  google_domain: 'google.com'
  lang: ''
  gl: 'us'
  hl: 'en'
braveSearch:
  active: false
  apiKey: ''
coin:
  active: false
  apiKey: ''
  defaultAsset: ''
googleLighthouse:
  active: false
  apiKey: ''
fluxApi:
  active: false
  apiKey: ''
dallE:
  active: false
  apiKey: ''
  imageSize: '1024x1024'
stability:
  active: false
  apiKey: ''
googleSearch:
  active: false
  apiKey: ''
  cx: ''
giphy:
  active: false
  apiKey: ''
tmpFolder:
  path: 'attachments'
metrics:
  webhookUrl: ''
youtubeTranscript:
  active: false
moderation:
  enabled: true
  bannedWords:
    - "insult1"
    - "insult2"
  actions:
    timeout: 300000  # 5 minutes en millisecondes
    maxWarnings: 3
  googleSafeBrowsingKey: ''
tradingChart:
  active: false
  apiKey: ''
twitter:
  active: false
  bearerToken: ''